#MenuPrincipal li {
    float: left;
}
#MenuPrincipal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
#MenuPrincipal li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#MenuPrincipal li a:hover { 
    background-color: #111;
}
.header {
    background-color: lightblue;
    padding: 8px;
    text-align: center;
}
.column {
    float: left;
    width: 33.33%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }