* {
    box-sizing: border-box;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 70%;
    margin: auto;
    background-color: white;

  }
nav li {
    float: left;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
nav li a:hover { 
    background-color: #111;
}
.header {
    background-color: lightblue;
    padding: 8px;
    text-align: center;
}
  section::after {
    content:" ";
    display: table;
    clear: both;
  }
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    /* only for demonstration, should be removed */
  }
  